<form action="/quizes/answer" method="get">
    <p>
        <label>Pregunta: <%= pregunta %></label>
    </p>
    <input type="text" name="respuesta" id="respuesta" placeholder="Escribe tu respuesta">

    <p><input type="submit" value="Enviar"></p>
</form>